
<!-- Default form contact -->
<h3>Contact Us</h3>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">

  <!-- Name -->
  <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
    class="form-control mb-4" placeholder="Name">

  <!-- Email -->
  <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
    class="form-control mb-4" placeholder="E-mail">

  <!-- Subject -->
  <label>Subject</label>
  <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
    <option value="" disabled>Choose option</option>
    <option value="1" selected>Feedback</option>
    <option value="2">Report a bug</option>
    <option value="3">Feature request</option>
  </select>

  <!-- Message -->
  <div class="form-group">
    <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
      rows="3" placeholder="Message"></textarea>
  </div>

  <!-- Copy -->
  <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox>

  <!-- Send button -->
  <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
    mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Send</button>

</form>
<!-- Default form contact -->

<agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px;">
  <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
</agm-map>

