:host {
  display: block;
  margin-top: 2rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 14px;
}

.info-text {
  text-align: center;

}

.post-image {
  width: 100%;
  margin-bottom: 1rem;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}

h3 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}



mat-expansion-panel-header {
  color: #737374;
  color: rgba(115, 115, 114, 0.9);
  text-shadow: 1px 4px 3px #F3F3F3, 0px 0px 0px #000, 1px 4px 6px #F3F3F3;
  font-size: medium;

}

img {
  border-radius: 3px;
}

