:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 14px;
}

.info-text {
  text-align: center;

}

.post-image {
  width: 100%;
  margin-bottom: 1rem;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: #4B42B5;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-decoration: underline overline;
}
