:host {
  display: block;
  margin-top: 2rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 14px;
}

.info-text {
  text-align: center;

}

.post-image {
  width: 100%;
  margin-bottom: 1rem;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  color: #4B42B5;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-decoration: underline overline;
}

h3 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}



mat-expansion-panel-header {
  font-family: Georgia, serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

img {
  border-radius: 3px;
}

